extends farmerOneslayout
block content
    header.card-header
        h4.card-title Farmer Ones
        |&nbsp
        div.form-row
            div.col.form-group.col-md-10    
                form.search(action='/farmerOnes')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='name' placeholder="Enter your search term(name) ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit") 
            div.col.form-group.col-md-2
                a(href="/update") Update Credentials
    table.table
        thead.thead-dark
            tr
                th Names
                th Gender
                th Date Of Birth
                th Date of Registration
                th NIN
                th Tel
                th FO Number
                th Ward
                th Home Location
                th Residence Type
                th Period of Stay
                th Activities
                th Edit/Delete
        tbody
            if users.length
            each user in users
                tr
                    td #{user.name}
                    td #{user.gender}
                    td #{user.dateOfBirth}
                    td #{user.dateOfRegistration}
                    td #{user.nin}
                    td #{user.phonenumber}
                    td #{user.foNumber}
                    td #{user.Ward}
                    td #{user.homeLocation}
                    td #{user.residenceType}
                    td #{user.stayperiod}
                    td #{user.activities}
                    td
                        form(method="post" action='/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete

            else
                p No registrations yet :(

