extends tablelayout
block content
    .container.mt-3
        header
            h1.h2 Registered Farmer Ones  
            hr
        .table-responsive
            table.content-table.table-bordered
                thead
                    tr
                    th FirstName
                    th LastName
                    th DateOfBirth
                    th DateOfRegistration
                    th National-Id-Num
                    th PhoneNumber
                    th FONumber
                    th ResidenceType
                    th WardName
                    th Activities
                    th HomeLocation
                    th PeriodofStay
                    th Gender
                    th UpdateDetails
                tbody
                    if users.length
                    each user in users
                        tr
                            td #{user.fname}
                            td #{user.lname}
                            td #{user.dob}
                            td #{user.dor}
                            td #{user.nin}
                            td #{user.phone}
                            td #{user.foid}
                            td #{user.restype}
                            td #{user.ward}
                            td #{user.acts}
                            td #{user.home}
                            td #{user.stayperiod}
                            td #{user.gender}
                           
                            td
                                form(method="GET" action= '/update/'+user._id)
                                    input(type="hidden", placeholder="", name="id", value=user._id)
                                    button.btn.btn-sm.btn-dark.btn-block(type="submit") Update
                    else
                        p No registrations yet :(

