meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Urban Farmers
link(rel="stylesheet", href="/css/bootstrap_css/bootstrap.css")
link(rel="stylesheet", href="/css/table.css")
link(rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon")
table.content-table
    header.card-header(style="background-color: burlywood")
        h4.card-title Registered Urban Farmers   
    form.search( action='/ufarmers')
        .form-row
            .form-group.col-md-6
                input.form-control(name='gender' placeholder="Enter your search term(gender) ...")
            .form-group.col-md-2
                    input.btn.btn-dark.btn-block(type="submit") 

                        
    thead
      tr
        th FirstName
        th Last Name
        th Date of Birth
        th Date of Reg
        th NIN
        th Contact
        th Ward
        th Ufarm ID
        th Activities
        th Gender
        th Delete
        th Update
        

    tbody
            if users.length
            each user in users
                tr
                    td #{user.fname}
                    td #{user.lname}
                    td #{user.dob}
                    td #{user.dor}
                    td #{user.nin}
                    td #{user.phone}
                    td #{user.ward}
                    td #{user.ufid}
                    td #{user.acts}
                    td #{user.gender}

                    td
                        form(method="post" action='/deleteufarmer')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
                    td
                        form(method="GET" action= '/updateufarmer/'+user._id)
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Update
                        //- a(href='/updateufarmer/'+user._id) Update

            else
                p No registrations yet :(      
        
script(src="/js/jquery-3.5.1.slim.min.js")
script(src="/js/popper.min.js")
script(src="/js/bootstrap_js/bootstrap.js")